@import 'styles/mixins';

.editor-wrapper {
  @include flex(row, flex-start, space-between);
  @include position();

  margin-top: 16px;

  > div {
    &:first-child {
      @include position(sticky, calc(7vh + 16px));

      width: 23%;
    }

    &:last-child {
      width: 75%;
    }
  }

  @media #{$media-desktop} {
    > div {
      &:first-child {
        width: 28%;
      }

      &:last-child {
        width: 70%;
      }
    }
  }

  @media #{$media-desktop--sm} {
    > div {
      &:first-child {
        width: 30%;
      }

      &:last-child {
        width: 68%;
      }
    }
  }

  @media #{$media-tablet} {
    flex-direction: column;

    > div {
      &:first-child,
      &:last-child {
        width: 100%;
      }

      &:first-child {
        @include position();
      }
    }
  }
}
