@import 'styles/variables';
@import 'styles/mixins';

.button {
  @include flex-center();

  height: 40px;
  padding: 0 16px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: $font-size--md;
  font-weight: $font-weight--bold;
  border-radius: $border-radius--sm;
}
